@keyframes fadeInTop {
  0% {
    opacity: 0;    
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes decreaseWidth {
  0% {
    width: 0;
  }
}

@keyframes increaseWidth {
  100% {
    width: 100%;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;    
    transform: translateX(30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateOpacity {
  100% {
    opacity: 1;
  }
}
